body{
    background: linear-gradient(to right, darkblue, rgb(47, 3, 44));
    color:#ffffff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav{
    display:flex ;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.nav button{
    color: rgb(0, 0, 0);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: rgb(4, 4, 93);
    border-color: rgb(47, 3, 44);
    border-style: outset;
    border-width: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family:"Press Start 2P", "consolas", serif;
    padding: 5px;
}